@font-face { 
    font-family: 'Muller'; 
    src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format("woff"); 
    font-weight: 800; 
    font-style: normal; 
}

@font-face { font-family: 'Muller'; src: url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff'); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Muller'; src: url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff'); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Muller'; src: url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');  font-weight: normal; font-style: normal; }


* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #CC9933;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 68px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn{
    /* background-color: #3172b9;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px; */
    border: 1px solid;
    /* line-height: 1; */
    padding: 13px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: none;
}

.section-heading{
    margin-top: 0;
    padding-left: 45px;
    color: #333333;
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
}

.btn-want{
    margin-right: 40px;
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
}



/* Header */

.header{
    /* height: 154px; */
    display: block;
}

.header-conainer{
    padding-top: 30px;
}

.header-top{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

/* .logo{
    position: relative;
} */

.header-phone{
    margin-left: 40px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    font-style: normal;
    color: #666666;
} 
/*font-style: normal; font-weight: 500; line-height: 20px; letter-spacing: 0em; text-align: left; color: var(--header-link-color); transition: color 0.3s ease 0s; }*/


.header-cabinet{
    margin-left: auto;
}

.header-cabinet-link{
    color: #CC9933;
    padding-left: 29px;
    background-image: url(../img/keyboard_tab.svg);
    /* background-color: aqua; */
    background-position: left center;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

.header-bottom{
    padding: 25px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.header-nav-list{
    display: flex;
}

.header-nav-item{
    flex: auto;
}

.header-nav-item:not(:last-child){
    margin-right: 45px;
}

.header-nav-item-link{
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #666666;
}

.header-bottom-btn{
    display: flex;
}


/* offers */
.offers-list{
    display: flex;
    align-items: center;
    justify-content: center;
/*    min-height: 536px;*/
}

.offers-list-left{
    flex: 1 1 50%;
}

.offers-card-left{
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin-right: 24px;
    margin-bottom: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 258px;
    padding-left: 45px;
    
}
.maldives{
    background-image: url('../img/maldives.jpg');
}

.creat{
    background-image: url('../img/crete.jpg');
}

.offers-card-heading-left{
    font-size: 40px;
    line-height: 45px;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    margin-top: 45px;
    margin-bottom: 0;
    
}

.offers-card-price-left{
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 45px;
}

.offers-card-link{
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #f0bf5f;
    padding-right: 16px;
    background-image: url(../img/more-icon.svg);
    /* background-color: aqua; */
    background-position: right center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}


.offers-list-right{
    flex: 1 1 50%;
}

.offers-card-right{
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-image: url('../img/luxury.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 540px;
    padding-left: 45px;
    margin-bottom: 24px;
}

.offers-card-heading-right{
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    margin-top: 213px;
    margin-bottom: 0;
}

.offers-card-price-right{
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-top: 53px;;
    margin-bottom: 45px;
}

/*about*/

.about-text{
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    width: 75%;
}

/* service */

.service-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item{
    /* flex: 50%; */
    max-width: 49%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
}

.service-item-heading{
    margin: 30px 0 10px 45px;
    
    
   
}
.service-link{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    padding-right: 17px;
    background-image: url(../img/more-icon.svg);
    /* background-color: aqua; */
    background-position: right center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    color: #f0bf5f;
}

.service-text{
    margin: 0px 137px 40px 45px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    color: #000;
}


/* preference */

.preference-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preference-item{
    max-width: 23.5%;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 22px;
    
}

.preference-pic{
    margin: 48px 0 0 45px;
}

.preference-text{
    padding-right: 57px;
    margin-top: 20px;
    margin-bottom: 42px;
    margin-left: 45px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    
}

/* location */

.location-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location-item{
    max-width: 32%;
    border-radius: 15px;
    margin-bottom: 24px;
    background-color: #fff;
}

.location-item-more{
    background-image: url(../img/location/41.jpg);
    /* max-width: 30%; */
    width: 32%;
    /* position: relative; */
    /* background: url(../img/location/41.jpg) center center / cover no-repeat; */
}

/* .location-item-more-link{
    color: white;
} */


.location-item-info-top{
    display: flex;
}


