@font-face { 
    font-family: 'Muller'; 
    src: url('../fonts/MullerBold.woff2') format('woff2'), url('../fonts/MullerBold.woff') format("woff"); 
    font-weight: 800; 
    font-style: normal; 
}

@font-face { font-family: 'Muller'; src: url('../fonts/MullerLight.woff2') format('woff2'), url('../fonts/MullerLight.woff') format('woff'); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Muller'; src: url('../fonts/MullerMedium.woff2') format('woff2'), url('../fonts/MullerMedium.woff') format('woff'); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Muller'; src: url('../fonts/MullerRegular.woff2') format('woff2'), url('../fonts/MullerRegular.woff') format('woff');  font-weight: normal; font-style: normal; }


* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #CC9933;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

.container{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 68px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn{
    /* background-color: #3172b9;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px; */
    border: 1px solid;
    /* line-height: 1; */
    padding: 13px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: none;
}

.section-heading{
    margin-top: 0;
    padding-left: 40px;
    color: #333333;
    font-size: 40px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
}

.btn-want{
    margin-right: 40px;
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
}

.rub {
	/* font-family: Muller; */
	vertical-align: middle;
	border-bottom: 0.07em solid;
	line-height: 0.2em;
	display: inline-block;
	width: 0.5em;
}

/* Header */

.header{
    /* height: 154px; */
    display: block;
}

.header-conainer{
    padding-top: 30px;
}

.header-top{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.logo{
    /* position: relative; */
    height: 54px;
}

.header-phone{
    margin-left: 40px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    font-style: normal;
    color: #666666;
} 
/*font-style: normal; font-weight: 500; line-height: 20px; letter-spacing: 0em; text-align: left; color: var(--header-link-color); transition: color 0.3s ease 0s; }*/


.header-cabinet{
    margin-left: auto;
}

.header-cabinet-link{
    color: #CC9933;
    padding-left: 29px;
    background-image: url(../img/keyboard_tab.svg);
    /* background-color: aqua; */
    background-position: left center;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}

.header-bottom{
    padding: 14px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.header-nav-list{
    display: flex;
}

.header-nav-item{
    flex: auto;
}

.header-nav-item:not(:last-child){
    margin-right: 45px;
}

.header-nav-item-link{
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #666666;
}

.header-nav-item-link:hover{
    color: #CC9933;
}

.header-bottom-btn{
    display: flex;
}


/* offers */
.offers-container{
    margin-bottom: 44px;
}

.offers-list{
    display: flex;
    align-items: center;
    justify-content: center;
/*    min-height: 536px;*/
}

.offers-list-left{
    flex: 1 1 50%;
}

.offers-card-left{
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin-right: 24px;
    margin-bottom: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 258px;
    padding-left: 45px;
    
}
.maldives{
    background-image: url('../img/maldives.jpg');
}

.creat{
    background-image: url('../img/crete.jpg');
}

.offers-card-heading-left{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin-top: 45px;
    margin-bottom: 15px;
    
}

.offers-card-price-left{
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 45px;
}

.offers-card-link{
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #f0bf5f;
    padding-right: 16px;
    background-image: url(../img/more-icon.svg);
    /* background-color: aqua; */
    background-position: right center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}


.offers-list-right{
    flex: 1 1 50%;
}

.offers-card-right{
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-image: url('../img/luxury.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 540px;
    padding-left: 45px;
    margin-bottom: 24px;
}

.offers-card-heading-right{
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    margin-top: 213px;
    margin-bottom: 0;
}

.offers-card-price-right{
    font-size: 30px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-top: 15px;;
    margin-bottom: 45px;
}

/*about*/

.about-text{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    width: 75%;
}

/* service */
.service-container{
    margin-bottom: 50px;
}

.service-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item{
    /* flex: 50%; */
    max-width: 49%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
}

.service-item-heading{
    margin: 30px 0 10px 45px;
    
    
   
}
.service-link{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    padding-right: 17px;
    background-image: url(../img/Rectangle\ 2.svg);
    /* background-color: aqua; */
    background-position: right center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    color: #CC9933;
}

.service-text{
    margin: 0px 126px 40px 45px;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    font-style: normal;
    color: #000;
}


/* preference */

.preference-container{
    margin-bottom: 46px;
}

.preference-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preference-item{
    max-width: 23.5%;
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 22px;
    
}

.preference-pic{
    margin: 48px 0 0 45px;
}

.preference-text{
    padding-right: 42px;
    margin-top: 10px;
    margin-bottom: 42px;
    margin-left: 45px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    
}

/* location */

.location-container{
    margin-bottom: 46px;
}

.location-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location-item{
    max-width: 32%;
    border-radius: 15px;
    margin-bottom: 24px;
    background-color: #fff;
}

.location-pic{
    border-radius: 15px 15px 0 0;
}

.location-item-more{
    background-image: url(../img/location/41.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
    border-radius: 15px;
    margin-bottom: 24px;
    padding-top: 373px;
}

.location-item-more-link{
    color: white;
    /* margin-top: 373px; */
    margin-left: 45px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    padding-right: 23px;
    background-image: url(../img/Rectangle\ 2\ \(1\).svg);
    /* background-color: aqua; */
    background-position: right center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.location-item-info{
    margin-top: 32px;
    margin-left: 45px;
      /* min-height: max-content; */
}

.location-item-info-top{
    display: flex;
    justify-content: space-between;
}

.location-item-info-rating{
    margin-right: 40px;
}

.location-item-info-text{
    /* margin-top: 16px;
    margin-bottom: 0; */
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000;

}

.location-item-info-text-gray{
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    color: #999999;
}

.location-item-info-price{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    color: #000;
}

.location-btn{
    display: inline-block;
    margin-bottom: 45px;
}

/* i want */

.iwant-container{
    border-radius: 15px;
    background: #e9e9e9;
    padding: 0 45px 45px 45px;
}

.iwant-heading{
    padding-top: 45px;
    padding-left: 0;
    margin-bottom: 20px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 31px 28px;
}

.label-form{
    display: flex;
    flex-direction: column;
    width: 16%;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
}

.input{
    margin-top: 15px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #000;
    border: none;
    height: 25px;
}

.input::-webkit-inner-spin-button {
    opacity: 1;
}

.input-num{
    border-bottom: 1px solid #e9e9e9;
}

.btn-submit{
    color: #CC9933;
    background-color: #fff;
}

/* Contacts */
.contacts-container{
    margin-bottom: 40px;    
}

.contacts-heading{
    margin-bottom: 20px;
}

.contacts-box{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    padding: 45px;
    padding-bottom: 43px;
}

.contacts-info{
    width: 40%;
}

.contacts-info-item{
    display: flex;
    align-items: center;
    padding-bottom: 13px;
    margin-right: 60px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e9e9e9;
}

.contacts-info-item-title{
    max-width: 143px;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
}

.contacts-info-item-link{
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.contacts-info-item-link-text{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.contacts-info-item-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
}

.btn-contacts{
    padding: 27px 29px;
    color: #CC9933;
    background-color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
}

.contacts-image{
    border-radius: 15px;
}

/* Footer */

.footer-container{
    display: flex;
    padding: 45px;
    /* margin-bottom: 0; */
    background-color: #333333;
    border-radius: 15px;
    background: url(../img/footer-sun.png) 75% 100% no-repeat #333333;
}

.footer-one{
    width: 30%;
    margin-right: 100px;
 }

.footer-text{
    color: #fff;
}

.footer-link{
    margin-bottom: 0;
}

.footer-item-one{
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 30.4px;
    font-weight: 400;
    font-style: normal;
}

.footer-two{
  width: 40%;
 }

 .footer-item-two{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
 }

 .footer-three{
    margin-left: 190px;
 }

 .footer-social-item{
    margin-bottom: 20px;
 }